.hero {
  padding-top: 70px;
  padding-bottom: 100px;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $bpt--md) {
  .hero {
    padding-top: 100px;
    padding-bottom: 110px;
  }
}

@media (min-width: $bpt--lg) {
  .hero {
    padding-top: 170px;
    padding-bottom: 150px;
  }
}

.hero__img {
  display: none;
}

@media (min-width: $bpt--md) {
  .hero__img {
    width: 100%;
    display: block;
  }
}

@media (min-width: $bpt--xl) {
  .hero__img {
    width: 371px;
  }
}

.hero__title {
  margin-bottom: 15px;
  font-family: "Lato-Black", sans-serif;
  font-size: $text--40;
  color: $text--white;
  text-align: center;
}

@media (min-width: $bpt--md) {
  .hero__title {
    text-align: left;
  }
}

.hero__subtitle {
  font-size: $text--18;
  color: $text--ondark;
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: $bpt--md) {
  .hero__subtitle {
    text-align: left;
  }
}

.hero__btns {
  text-align: center;
}

@media (max-width: 375px) {
  .hero__btns * {
    display: block;
    width: 100%;
  }
}

@media (min-width: $bpt--md) {
  .hero__btns {
    text-align: left;
  }
}

.hero__btn {
  margin-left: 15px;
}

@media (max-width: 375px) {
  .hero__btn {
    margin-top: 15px;
    margin-left: 0;
  }
}
