.services {
  padding-top: 75px;
  padding-bottom: 100px;
  background-image: url("../img/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.services__title {
  margin-bottom: 15px;
  font-family: "Lato-Black", sans-serif;
  font-size: $text--30;
  text-transform: uppercase;
  text-align: center;
  color: $text--white;
}

.services__devider {
  margin: 0 auto;
  margin-bottom: 65px;
}

.services__btn {
  display: block;
  margin: 0 auto;
}
