.btn__primary {
  padding: 20px 38px;
  background-color: $btn-primary;
  color: $text--white;
  font-family: "Lato-Bold", sans-serif;
  text-transform: uppercase;
  font-size: $text--15;
  transition: $btn-transition;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .btn__primary:hover {
    background-color: $btn-secondary;
  }
}

.btn__primary:focus {
  background-color: $btn-primary;
}

.btn__primary:active {
  background-color: $btn-secondary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .btn__primary:active {
    background-color: $btn-secondary;
    color: $btn-primary;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .btn__primary:hover {
    background-color: $btn-secondary;
  }

  .btn__primary:active {
    background-color: $btn-secondary;
    color: $btn-primary;
  }
}

.btn__secondary {
  padding: 18px 35px;
  background-color: transparent;
  border: 2px solid $bkg--light;
  color: $text--white;
  font-family: "Lato-Bold", sans-serif;
  text-transform: uppercase;
  font-size: $text--15;
  transition: $btn-transition;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .btn__secondary:hover {
    border: 2px solid $btn-primary;
    color: $btn-primary;
  }
}

.btn__secondary:focus {
  background-color: transparent;
}

.btn__secondary:active {
  border: 2px solid $btn-primary;
  color: $btn-primary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .btn__secondary:active {
    background-color: $btn-primary;
    color: $text--white;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .btn__secondary:hover {
    border: 2px solid $btn-primary;
    color: $btn-primary;
  }

  .btn__secondary:active {
    background-color: $btn-primary;
    color: $text--white;
  }
}
