.tabs__content {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
}

.tab-content {
  margin-top: 35px;
  margin-bottom: 65px;
}

.tabs__title {
  font-family: "Lato-Black", sans-serif;
  text-transform: uppercase;
  font-size: $text--18;
}

@media (min-width: $bpt--md) {
  .tabs__title {
    display: none;
  }
}

.tabs__toggler {
  margin-left: 15px;
  transition: $btn-transition;
}

@media (min-width: $bpt--md) {
  .tabs__toggler {
    display: none;
  }
}

.tabs__toggler:active {
  color: $btn-primary;
}

.nav-tabs {
  border: none;
}

.tabs {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

@media (min-width: $bpt--md) {
  .tabs {
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.tab {
  padding: 5px 0;
  font-family: "Lato-Black", sans-serif;
  font-size: $text--15;
  text-transform: uppercase;
  color: $text--default;
  transition: $btn-transition;
}

@media (min-width: $bpt--md) {
  .tab {
    padding: 0 12px;
  }

  .tab:first-child {
    padding-left: 0;
  }

  .tab:last-child {
    padding-right: 0;
  }
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .tab:hover {
    color: $btn-primary;
    text-decoration: none;
  }
}

.tab:focus {
  color: $text--default;
  text-decoration: none;
}

.tab:active {
  color: $btn-primary;
  text-decoration: none;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .tab:active {
    color: $text--default;
    text-decoration: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .tab:hover {
    color: $btn-primary;
    text-decoration: none;
  }

  .tab:active {
    color: $text--default;
    text-decoration: none;
  }
}

.tab.active {
  color: $btn-primary;
}

.pane__content {
  position: relative;
  width: 100%;
  height: 290px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $bpt--sm) {
  .pane__content {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 290px;
  }
}

@media (min-width: $bpt--sm) {
  .pane__content {
    width: 100%;
  }
}

@media (min-width: $bpt--lg) {
  .pane__content {
    height: 320px;
  }
}

@media (min-width: $bpt--xl) {
  .pane__content {
    height: 290px;
  }
}

.pane__overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $btn-secondary;
  transition: $notification-transition;
  z-index: 10;
}

.pane__content .pane__overlay {
  visibility: hidden;
  opacity: 0;
}

.pane__content:hover .pane__overlay {
  visibility: visible;
  opacity: 0.9;
}

.pane__title {
  font-family: "Lato-Bold", sans-serif;
  font-size: $text--20;
  color: $btn-primary;
  z-index: 20;
}

.pane__subtitle {
  font-size: $text--15;
  color: $text--ondark;
  z-index: 20;
}

.pane__search {
  margin-top: 15px;
  color: $text--white;
}
