.searchform__wrap {
  position: relative;
}

.searchform {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
}

@media (min-width: $bpt--sm) {
  .searchform {
    max-width: 350px;
  }
}

@media (min-width: $bpt--lg) {
  .searchform {
    position: absolute;
    margin: 0;
    width: 310px;
    right: 0;
    height: 0;
    top: 60px;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    transition: $notification-transition;
    background-color: $bkg--white;
    box-shadow: $nav-shadow;
    border-radius: $brad--10;
  }

  .searchform.show {
    height: 80px;
    padding: 20px;
  }
}

.searchform__input {
  width: 100%;
  border: 1px solid $text--dark;
  padding: 7px 14px;
  border-radius: $brad--5;
  transition: $input-transition;
}

.searchform__input:focus {
  border-color: $btn-primary;
}

.searchform__submit {
  padding: 0 20px;
  margin-left: 15px;
  background-color: $text--dark;
  color: $text--white;
  border-radius: $brad--5;
  transition: $btn-transition;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .searchform__submit:hover {
    background-color: $btn-primary;
  }
}

.searchform__submit:focus {
  background-color: $text--dark;
}

.searchform__submit:active {
  background-color: $btn-primary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .searchform__submit:active {
    background-color: $text--dark;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .searchform__submit:hover {
    background-color: $btn-primary;
  }

  .searchform__submit:active {
    background-color: $text--dark;
  }
}

.searchform__collapse {
  display: none;
}

@media (min-width: $bpt--lg) {
  .searchform__collapse {
    display: block;
    margin-left: 45px;
  }
}

.searchform__collapse.active {
  color: $btn-primary;
}
