.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: center;
}

.navbar-brand img {
  width: 40px;
}

@media (min-width: $bpt--sm) {
  .navbar-brand img {
    width: 46px;
  }
}

.navbar-brand__group {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: $bpt--sm) {
  .navbar-brand__group {
    margin-left: 18px;
  }
}

.navbar-brand__group h2 {
  font-family: "Lato-Black", sans-serif;
  text-transform: uppercase;
  color: $text--dark;
  font-size: 22px;
  margin-top: 4px;
  margin-bottom: 7px;
  line-height: 0.5;
  transition: $link-transition;
}

@media (min-width: $bpt--sm) {
  .navbar-brand__group h2 {
    font-size: 28px;
    margin-bottom: 8px;
    margin-bottom: 3px;
  }
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .navbar-brand:hover h2 {
    color: $btn-primary;
  }
}

.navbar-brand:focus {
  color: $text--dark;
}

.navbar-brand:active h2 {
  color: $btn-primary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .navbar-brand:active h2 {
    color: $text--dark;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .navbar-brand:hover h2 {
    color: $btn-primary;
  }

  .navbar-brand:active h2 {
    color: $text--dark;
  }
}

.navbar-brand__group small {
  color: $text--default;
  font-size: 12px;
}

@media (min-width: $bpt--sm) {
  .navbar-brand__group small {
    color: $text--default;
    font-size: 14px;
  }
}

.navbar-toggler {
  padding: 0;
  font-size: $text--24;
}

.navbar-toggler:active {
  transform: translateY(2px);
}

.navbar-nav {
  padding: 10px 0;
  list-style: none;
}

.nav-item {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-item:first-child {
  margin-top: 0;
}

.nav-item:last-child {
  margin-bottom: 0;
}

@media (min-width: $bpt--lg) {
  .nav-item {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .nav-item:first-child {
    margin-left: 0;
  }

  .nav-item:last-child {
    margin-right: 0;
  }
}

.nav-link {
  display: inline;
  text-transform: uppercase;
  padding: 0;
  font-family: "Lato-Bold", sans-serif;
  color: $text--light;
  transition: $link-transition;
}

@media (min-width: $bpt--lg) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .nav-link:hover {
    color: $btn-primary;
  }
}

.nav-link:focus {
  color: $text--light;
}

.nav-link:active {
  color: $btn-primary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .nav-link:active {
    color: $text--light;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .nav-link:hover {
    color: $btn-primary;
  }

  .nav-link:active {
    color: $text--light;
  }
}

.nav-link.active {
  color: $btn-primary;
}
