.projects {
  padding-top: 80px;
  padding-bottom: 100px;
}

.projects__title {
  font-family: "Lato-Black", sans-serif;
  text-transform: uppercase;
  font-size: $text--30;
  text-align: center;
  margin-bottom: 15px;
  color: $text--dark;
}

.projects__devider {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.projects__btn {
  display: block;
  margin: 0 auto;
}
