.testimonials {
  padding-bottom: 55px;
}

.testimonials__img {
  display: block;
  margin: 0 auto;
  margin-top: 55px;
  opacity: 0.5;
  cursor: pointer;
  transition: $btn-transition;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .testimonials__img:hover {
    opacity: 1;
  }
}

.testimonials__img:focus {
  opacity: 0.5;
}

.testimonials__img:active {
  opacity: 1;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .testimonials__img:active {
    opacity: 0.5;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .testimonials__img:hover {
    opacity: 1;
  }

  .testimonials__img:active {
    opacity: 0.5;
  }
}
