.carousel__wrap {
  position: relative;
  margin-bottom: 60px;
}

.carousel {
  margin: 0 auto;
}

.carousel__btn {
  position: absolute;
  visibility: hidden;
  top: 50%;
  cursor: pointer;
  color: $text--default;
  transition: $btn-transition;
}

@media (min-width: $bpt--lg) {
  .carousel__btn {
    visibility: visible;
  }
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .carousel__btn:hover {
    color: $btn-primary;
  }
}

.carousel__btn:focus {
  color: $text--default;
}

.carousel__btn:active {
  color: $btn-primary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .carousel__btn:active {
    color: $text--default;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .carousel__btn:hover {
    color: $btn-primary;
  }

  .carousel__btn:active {
    color: $text--default;
  }
}

.carousel__prev {
  transform: translate(-100%, -50%);
  left: 0;
}

.carousel__next {
  transform: translate(100%, -50%);
  right: 0;
}

@media (min-width: $bpt--xl) {
  .carousel__prev {
    transform: translate(-200%, -50%);
    left: 0;
  }

  .carousel__next {
    transform: translate(200%, -50%);
    right: 0;
  }
}

.carousel-item__content {
  max-width: 270px;
  width: 100%;
  padding: 25px 10px;
  margin: 0 auto;
  display: block;
  border: 4px solid $btn-secondary;
  background-color: transparent;
  transition: $notification-transition;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .carousel-item__content:hover {
    background-color: $btn-secondary;
  }
}

.carousel-item__content:focus {
  background-color: transparent;
}

.carousel-item__content:active {
  background-color: $btn-secondary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .carousel-item__content:active {
    background-color: $btn-secondary;
  }

  .carousel-item__content:active .carousel-item__title {
    color: $btn-primary;
  }

  .carousel-item__content:active .carousel-item__subtitle {
    color: $btn-primary;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .carousel-item__content:hover {
    background-color: $btn-secondary;
  }

  .carousel-item__content:active {
    background-color: $btn-secondary;
  }

  .carousel-item__content:active .carousel-item__title {
    color: $btn-primary;
  }

  .carousel-item__content:active .carousel-item__subtitle {
    color: $btn-primary;
  }
}

.carousel-item__img {
  display: block;
  margin: 0 auto;
  width: 79px;
  height: 58px;
  margin-bottom: 25px;
}

.carousel-item__title {
  margin-bottom: 15px;
  font-family: "Lato-Bold", sans-serif;
  text-align: center;
  color: $text--white;
  transition: $notification-transition;
}

.carousel-item__subtitle {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: $text--ondark;
  transition: $notification-transition;
}
