.headbar {
  padding: 10px 0;
  background-color: $bkg-headbar;
}

@media (min-width: $bpt--sm) {
  .headbar {
    padding: 20px 0;
  }
}

.headbar__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: $bpt--sm) {
  .headbar__content {
    justify-content: space-between;
  }
}

.headbar__title {
  display: none;
  font-size: $text--15;
}

@media (min-width: $bpt--sm) {
  .headbar__title {
    display: block;
  }
}
