.socials {
  font-size: $text--14;
}

.socials__link {
  margin: 0 8px;
  color: $text--default;
  transition: $link-transition;
}

.socials__link:first-child {
  margin-left: 0;
}

.socials__link:last-child {
  margin-right: 0;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .socials__link:hover {
    color: $btn-primary;
  }
}

.socials__link:focus {
  color: $text--default;
}

.socials__link:active {
  color: $btn-primary;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .socials__link:active {
    color: $text--default;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .socials__link:hover {
    color: $btn-primary;
  }

  .socials__link:active {
    color: $text--default;
  }
}
