.features {
  padding-top: 80px;
  padding-bottom: 120px;
}

.features__img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $bpt--sm) {
  .features__img {
    width: 470px;
  }
}

.features__content {
  margin-top: 80px;
}

@media (min-width: $bpt--xl) {
  .features__content {
    margin-left: 40px;
    margin-top: 0;
  }
}

.features__title {
  font-family: "Lato-Black", sans-serif;
  font-size: $text--30;
  text-transform: uppercase;
  color: $text--dark;
  text-align: center;
}

@media (min-width: $bpt--xl) {
  .features__title {
    text-align: left;
  }
}

.features__devider {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 25px;
}

@media (min-width: $bpt--xl) {
  .features__devider {
    margin-left: 0;
    margin-right: 0;
  }
}

.features__subtitle {
  text-align: center;
}

@media (min-width: $bpt--xl) {
  .features__subtitle {
    text-align: left;
  }
}

.media {
  display: block;
  margin-top: 45px;
}

@media (min-width: $bpt--xl) {
  .media {
    display: flex;
    flex-direction: row;
  }
}

.media-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  background-color: $btn-secondary;
}

.media-body {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: $bpt--xl) {
  .media-body {
    margin-top: 0;
    margin-left: 15px;
    text-align: left;
  }
}

.media-title {
  font-family: "Lato-Bold", sans-serif;
  font-size: $text--18;
  color: $text--dark;
  margin-bottom: 15px;
}

.media-subtitle {
  max-width: 300px;
  font-size: $text--15;
  margin: 0 auto;
}

@media (min-width: $bpt--xl) {
  .media-subtitle {
    margin-left: 0;
    margin-right: 0;
  }
}
