.modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal__overlay.active {
  display: block;
}

.modal {
  position: absolute;
  display: block;
  max-width: 600px;
  max-height: 740px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  overflow: hidden;
  background-color: $text--white;
  z-index: 30;
  animation-name: modalopen;
  animation-duration: 1s;
}

@media (min-width: $bpt--sm) {
  .modal {
    max-height: 570px;
  }
}

.modal input,
.modal textarea {
  box-shadow: $modal-shadow;
}

.close-btn {
  position: absolute;
  right: 20px;
  top: 16px;
  opacity: 0.5;
  font-size: $text--18;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .close-btn:hover {
    opacity: 1;
  }
}

.close-btn:focus {
  opacity: 0.5;
}

.close-btn:active {
  opacity: 1;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .close-btn:active {
    opacity: 0.5;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .close-btn:hover {
    opacity: 1;
  }

  .close-btn:active {
    opacity: 0.5;
  }
}
