.contacts {
  padding-top: 80px;
  padding-bottom: 90px;
  background-image: url("../img/cta-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $bpt--xl) {
  .contacts__content {
    margin-left: 30px;
  }
}

.contacts__title {
  margin-bottom: 15px;
  font-family: "Lato-Black", sans-serif;
  font-size: $text--30;
  color: $text--dark;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $bpt--xl) {
  .contacts__title {
    text-align: left;
  }
}

.contacts__devider {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (min-width: $bpt--xl) {
  .contacts__devider {
    margin: 0;
    margin-bottom: 50px;
  }
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 420px;
  border: 4px solid $text--white;
  margin-bottom: 50px;
  background-color: $bkg-map;
}

@media (min-width: $bpt--xl) {
  .map {
    margin-bottom: 0;
  }
}

.contacts__form input,
.contacts__textarea {
  padding: 15px 25px;
  width: 100%;
  border: 2px solid transparent;
}

.input__group {
  width: 100%;
}

.form__group {
  display: flex;
  flex-direction: column;
}

@media (min-width: $bpt--sm) {
  .form__group {
    flex-direction: row;
  }
}

.contacts__subjects,
.contacts__email,
.contacts__textarea {
  margin-top: 5px;
}

.contacts__phone {
  margin-top: 25px;
}

@media (min-width: $bpt--sm) {
  .contacts__email {
    margin-top: 0;
  }

  .contacts__name,
  .contacts__subjects {
    margin-right: 10px;
  }

  .contacts__email,
  .contacts__phone {
    margin-left: 10px;
  }

  .contacts__phone {
    margin-top: 5px;
  }
}

.contacts__textarea {
  height: 150px;
  border: none;
  resize: none;
}

.contacts__btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 18px 40px;
}

@media (min-width: $bpt--sm) {
  .contacts__btn {
    margin: 0;
    margin-top: 30px;
  }
}

.form__error {
  color: $danger;
  visibility: hidden;
}

.form__error.active {
  visibility: visible;
}

.contacts__form input.error {
  border: 2px solid $danger;
}
