.footer {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: $bkg-footer;
}

.footer-contacts__title,
.footer-services__title {
  margin-bottom: 25px;
  font-family: "Lato-Bold", sans-serif;
  font-size: $text--18;
  color: $text--ondark;
  text-transform: uppercase;
}

.footer-contacts__subtitle {
  color: $text--footer;
  font-size: $text--15;
}

.footer-contacts__item,
.footer-services__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-contacts__item:last-child {
  margin-bottom: 0;
}

.footer-contacts__img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bkg-footer--img;
  border-radius: 50%;
}

.footer-contacts__phone {
  font-family: "Lato-Bold", sans-serif;
  font-size: $text--18;
  color: $text--ondark;
}

.footer-services__title {
  margin-top: 30px;
}

@media (min-width: $bpt--lg) {
  .footer-services__title {
    margin-top: 0;
  }
}

.footer-services__item {
  margin-bottom: 14px;
}

.footer-services__img {
  margin-right: 15px;
}

.footer-services__link {
  color: $text--footer;
  font-size: $text--15;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .footer-services__link:hover {
    color: $btn-primary;
    text-decoration: none;
  }
}

.footer-services__link:focus {
  color: $text--footer;
}

.footer-services__link:active {
  color: $btn-primary;
  text-decoration: none;
}

@media all and (-ms-high-contrast: none) {
  // Hover effect for IE 11
  .footer-services__link:active {
    color: $text--footer;
    text-decoration: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  // Hover effect for modern browsers
  .footer-services__link:hover {
    color: $btn-primary;
    text-decoration: none;
  }
  .footer-services__link:active {
    color: $text--footer;
  }
}

.footer-deal {
  width: 100%;
  padding: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed $bkg-footer--border;
}

@media (min-width: $bpt--xl) {
  .footer-deal {
    margin-top: 0;
  }
}

.footer-deal__title,
.footer-deal__subtitle {
  font-family: "Lato-Bold", sans-serif;
  font-size: $text--22;
  color: $text--ondark;
}

.footer-deal__title span {
  font-size: $text--55;
  color: $btn-primary;
}

.footer-deal__subtitle {
  font-size: $text--18;
}

.footer-deal__redeem {
  color: $text--footer;
}

.footer-deal__redeem span {
  color: $btn-primary;
}
