.cta {
  padding: 55px 0;
  background-image: url("../img/cta-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato-Bold", sans-serif;
}

.cta__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: $bpt--md) {
  .cta__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.cta__title {
  text-align: center;
  font-size: $text--20;
  color: $text--dark;
}

@media (min-width: $bpt--md) {
  .cta__title {
    text-align: left;
    font-size: $text--22;
  }
}

@media (min-width: $bpt--lg) {
  .cta__title {
    font-size: $text--26;
  }
}

.cta__btn {
  margin: 0 auto;
  margin-top: 25px;
  font-size: $text--18;
}

@media (min-width: $bpt--md) {
  .cta__btn {
    margin: 0;
  }
}

.cta__icon {
  margin-right: 14px;
}

.cta-footer {
  padding-top: 100px;
  padding-bottom: 140px;
  background-image: url("../img/cta-footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $bpt--lg) {
  .cta-footer {
    padding-top: 180px;
    padding-bottom: 220px;
  }
}

.cta-footer__title {
  text-align: center;
  margin-bottom: 35px;
  font-family: "Lato-Bold", sans-serif;
  text-transform: uppercase;
  color: $text--white;
  font-size: $text--36;
}

@media (min-width: $bpt--lg) {
  .cta-footer__title {
    max-width: 550px;
    text-align: left;
  }
}

.cta-footer__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  font-size: $text--24;
}

@media (min-width: $bpt--lg) {
  .cta-footer__btn {
    margin-left: 0;
    margin-right: 0;
  }
}
