//- Mixins
mixin socialLink(socialItem)
  a.socials__link(href=socialItem.link.href)
    i(class=socialItem.icon.classes)

mixin navItem(navItem)
  li.nav-item
    a.nav-link(href=navItem.href)= navItem.linkText

mixin carouselItem(carouselItem)
  .carousel-item
    .carousel-item__content
      img.carousel-item__img(src=carouselItem.img)
      h3.carousel-item__title= carouselItem.title
      span.carousel-item__subtitle= carouselItem.subtitle

mixin tabContent(tabContentItem)
  .col-md-6.col-xl-4.no-padding
    button.pane__content(style=tabContentItem.img)
      .pane__overlay
        h3.pane__title= tabContentItem.title
        p.pane__subtitle= tabContentItem.subtitle
        i.fas.fa-search.pane__search

mixin footerContact(footerContactItem)
  li.footer-contacts__item
    .footer-contacts__img
      img(src=footerContactItem.img.src)
    if footerContactItem.phone
      .footer-contacts__body
        span.footer-contacts__phone= footerContactItem.phone
        p.footer-contacts__subtitle= footerContactItem.subtitle.text
    else
      p.footer-contacts__subtitle= footerContactItem.subtitle.text

mixin footerServices(footerServices)
  li.footer-services__item
    img.footer-services__img(src="./img/chevron.png")
    a.footer-services__link(href="#")= footerServices.link.text

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Dmitriy Granyov")
    meta(name="description", content="Auhandy Landing Page")
    link(rel="shortcut icon", href="./img/favicon-32x32.png", type="image/x-icon")
    title Auhandy Landing Page
  body
    header.header
      .headbar
        .container
          .headbar__content
            span.headbar__title We make your home more quality.
            .socials
              - let socialArray = [];
              - socialArray.push({ link: { href: 'https://www.facebook.com/' }, icon: { classes: 'fab fa-facebook-f' } });
              - socialArray.push({ link: { href: 'https://twitter.com/' }, icon: { classes: 'fab fa-twitter' } });
              - socialArray.push({ link: { href: 'https://www.google.com/' }, icon: { classes: 'fab fa-google-plus-g' } });
              - socialArray.push({ link: { href: 'https://www.behance.net/' }, icon: { classes: 'fab fa-behance' } });
              each social in socialArray
                +socialLink(social)
      .header__wrap
        .container
          .navbar.navbar-expand-lg
            a.navbar-brand(href="#")
              img(src="./img/logo.svg")
              .navbar-brand__group
                h2 AUHandy
                small We repair everything.
            button.navbar-toggler(
              type="button",
              data-toggle="collapse",
              data-target="#navbarSupportedContent",
              aria-controls="navbarSupportedContent",
              aria-expanded="false",
              aria-label="Toggle navigation"
            )
              i.fas.fa-bars
            #navbarSupportedContent.header__group.collapse.navbar-collapse
              ul.navbar-nav.ml-auto
                - let navLinks = [];
                - navLinks.push({ href: '#', linkText: 'home' });
                - navLinks.push({ href: '#services', linkText: 'services' });
                - navLinks.push({ href: '#projects', linkText: 'projects' });
                - navLinks.push({ href: '#', linkText: 'pages' });
                - navLinks.push({ href: '#', linkText: 'blog' });
                - navLinks.push({ href: '#contact', linkText: 'contact' });
                each link in navLinks
                  +navItem(link)
              .serachform__wrap
                button#search__btn.searchform__collapse(type="button")
                  i.fas.fa-search
                form#searchform.header__form.searchform
                  input.searchform__input
                  button.searchform__submit(type="submit")
                    i.fas.fa-search
    section.hero
      .container
        .row
          .col-md-5
            img.hero__img(src="./img/hero-img.png")
          .col-md-7
            h1.hero__title Expert Handyman &amp; Remodeling
            p.hero__subtitle Integer consectetur dapibus nisi, et faucibus augue lobortis ut. Proin quis porttitor sem. Donec ultrices felis quis tincidunt
            .hero__btns
              button#btn__learnmore.btn__primary Learn More
              button.btn__secondary.hero__btn Get a qute
    section.cta
      .container
        .cta__content
          p.cta__title We have 13 years of experience in Auhandy.
          button.btn__primary.cta__btn
            i.fas.fa-mobile-alt.cta__icon
            | +1 23 568 8967
    section.features
      .container
        .row
          .col-xl-5
            img.features__img(src="./img/features-img.png")
          .col-xl-7
            .features__content
              h2.features__title Why Choose Us
              .devider.features__devider
              p.features__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec ligula temp cursus justo eu, blandit quam. Sed viverra, quam ut maximus porta, lorem bibendum metus, et eleifend mi nunc ac arcu facilisis lorem urna eu quam.
              .row
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/gear.png")
                    .media-body
                      h3.media-title Easy To Customize.
                      p.media-subtitle Mauris efficitur mi eu nisi venenatis vestibulum sit tellus.
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/comment.png")
                    .media-body
                      h3.media-title 24/7 Support Service
                      p.media-subtitle Aliquam vel felis quis ipsum fermentum sollicitudin eget.
              .row
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/gift.png")
                    .media-body
                      h3.media-title Gift For Loyal Customers
                      p.media-subtitle Ut imperdiet libero sed tel pretium convallis quis lectus.
                .col-md-6
                  .media
                    .media-img
                      img(src="./img/like.png")
                    .media-body
                      h3.media-title Favorite Customers
                      p.media-subtitle Lorem ipsum dolor sit a consectetur adipiscing.
    section#services.services
      .container
        h2.services__title Our Services
        .devider.devider--white.services__devider
        .carousel__wrap
          #carousel.carousel
            - let carouselItems = [];
            - carouselItems.push({ img: './img/gears.png', title: 'Engine Repairs', subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.' });
            - carouselItems.push({ img: './img/light-bolt.png', title: 'Electrical', subtitle: 'Donec malesuada, purus a viverra sodales leo purus lobortis' });
            - carouselItems.push({ img: './img/pipe.png', title: 'Plumbing', subtitle: 'Praesent dignissim mattis mauris. Sed finibus elementu.' });
            - carouselItems.push({ img: './img/wrench.png', title: 'Repair Houses', subtitle: 'Phasellus venenatis mauris eget isque tincidunt' });
            - carouselItems.push({ img: './img/roller-brush.png', title: 'Wall Paint', subtitle: 'Elit dui scelerisque leo, no lacinia orci lectus comm.' });
            - carouselItems.push({ img: './img/shop.png', title: 'Maintenance', subtitle: 'Pellentesque tellus nunc, semper eu lacus fermentum.' });
            - carouselItems.push({ img: './img/hammer.png', title: 'Installation', subtitle: 'Maecenas dapibus the libero sed mauris fringilla sodales.t' });
            - carouselItems.push({ img: './img/shovel.png', title: 'Garden Repairs', subtitle: 'Nam convallis nunc non sodale at aliquet ipsum ornare vel.' });
            each carouselItem in carouselItems
              +carouselItem(carouselItem)
          button#carousel__prev.carousel__prev.carousel__btn
            i.fas.fa-long-arrow-alt-left
          button#carousel__next.carousel__next.carousel__btn
            i.fas.fa-long-arrow-alt-right
        button.btn__primary.services__btn View All Services
    section#projects.projects
      .container
        h2.projects__title Our Projects
        .devider.projects__devider
        .tabs__content.navbar.navbar-expand-md
          .tabs__title project list
          button.tabs__toggler(type="button", data-toggle="collapse", data-target="#tabs", aria-controls="tabs", aria-expanded="false", aria-label="Toggle navigation")
            i.fas.fa-caret-down
          #tabs.tabs.nav.nav-tabs.collapse.navbar-collapse(role="tablist")
            a#tabs-all-tab.tab.active(data-toggle="tab", href="#tabs-all", role="tab", aria-controls="tabs-all", aria-selected="true") All
            a#tabs-engine-tab.tab(data-toggle="tab", href="#tabs-engine", role="tab", aria-controls="tabs-engine", aria-selected="true") Engine Repair
            a#tabs-electrical-tab.tab(data-toggle="tab", href="#tabs-electrical", role="tab", aria-controls="tabs-electrical", aria-selected="false") Electrical
            a#tabs-plumbing-tab.tab(data-toggle="tab", href="#tabs-plumbing", role="tab", aria-controls="tabs-plumbing", aria-selected="false") Plumbing
            a#tabs-house-tab.tab(data-toggle="tab", href="#tabs-house", role="tab", aria-controls="tabs-house", aria-selected="false") Repair House
            a#tabs-wall-tab.tab(data-toggle="tab", href="#tabs-wall", role="tab", aria-controls="tabs-wall", aria-selected="false") Wall Paint
        .tab-content
          #tabs-all.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="tabs-all-tab")
            .row
              - let allContent = [];
              - allContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - allContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in allContent
                +tabContent(item)
          #tabs-engine.tab-pane.fade.show(role="tabpanel", aria-labelledby="tabs-enginel-tab")
            .row
              - let engineContent = [];
              - engineContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - engineContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in engineContent
                +tabContent(item)
          #tabs-electrical.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-electrical-tab")
            .row
              - let electricalContent = [];
              - electricalContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - electricalContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in electricalContent
                +tabContent(item)
          #tabs-plumbing.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-plumbing-tab")
            .row
              - let plumbingContent = [];
              - plumbingContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - plumbingContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in plumbingContent
                +tabContent(item)
          #tabs-house.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-house-tab")
            .row
              - let houseContent = [];
              - houseContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - houseContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in houseContent
                +tabContent(item)
          #tabs-wall.fade.tab-pane(role="tabpanel", aria-labelledby="tabs-wall-tab")
            .row
              - let wallContent = [];
              - wallContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-bear.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-rabbit.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-lan-reverse.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              - wallContent.push({ img: 'background-image: url("./img/projects-lan.png")', title: 'Pellentesque finibus maximus.', subtitle: 'Repair House' });
              each item in wallContent
                +tabContent(item)
        button.btn__primary.projects__btn All projects
    section.cta-footer
      .container
        h1.cta-footer__title you have some problems in housing?
        button.btn__primary.cta-footer__btn
          i.fas.fa-mobile-alt.cta__icon
          | +1 23 568 8967
    section#contact.contacts
      .container
        .row
          .col-xl-5
            h2.contacts__title Our location
            .devider.contacts__devider
            #map.map
              img(src="./img/marker.png")
          .col-xl-7
            .contacts__content
              h2.contacts__title Get a quote
              .devider.contacts__devider
              form.contacts__form
                .form__group
                  .input__group.contacts__name
                    input.name__input(type="text", placeholder="Your Name", name="name")
                    .form__error Error
                  .input__group.contacts__email
                    input.email__input(type="text", placeholder="Your Email", name="email")
                    .form__error Error
                .form__group
                  .input__group.contacts__subjects
                    input(type="text", placeholder="Your Subjects", name="subjects")
                  .input__group.contacts__phone
                    input.phone__input(type="text", placeholder="Your Phone Number", name="phone")
                    .form__error Error
                textarea.contacts__textarea(placeholder="Description Services Needed", name="description")
                button#form__btn.btn__primary.contacts__btn(type="submit") Submit
    section.testimonials
      .container
        .row
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-saw.png")
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-nails.png")
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-plane.png")
          .col-sm-6.col-md-3
            img.testimonials__img(src="./img/testimonials-axe.png")
    section.footer
      .container
        .row
          .col-xl-4.col-lg-6
            h2.footer-contacts__title Contact us
            ul.footer-contacts__content
              - let footerContacts = [];
              - footerContacts.push({ phone: '+1 23 567 8596', img: { src: './img/phone.png' }, subtitle: { text: 'Support 24/7 Weekdays' } });
              - footerContacts.push({ img: { src: './img/mark.png' }, subtitle: { text: 'Auhandy Tower, New York, NY 10013, USA' } });
              - footerContacts.push({ img: { src: './img/envelope.png' }, subtitle: { text: 'info@example.com' } });
              - footerContacts.push({ img: { src: './img/clock.png' }, subtitle: { text: 'Weekdays: 09:00am - 06:00pm' } });
              each contact in footerContacts
                +footerContact(contact)
          .col-xl-4.col-lg-6
            h2.footer-services__title our services
            .row
              .col
                ul.footer-services__content
                  - let footerServices = [];
                  - footerServices.push({ link: { text: 'Electrical' } });
                  - footerServices.push({ link: { text: 'Plumbing' } });
                  - footerServices.push({ link: { text: 'Engine Repair' } });
                  - footerServices.push({ link: { text: 'Repair House' } });
                  - footerServices.push({ link: { text: 'Home Maintenance' } });
                  - footerServices.push({ link: { text: 'Wall Paint' } });
                  each service in footerServices
                    +footerServices(service)
              .col
                ul.footer-services__content
                  - footerServices = [];
                  - footerServices.push({ link: { text: 'Installation' } });
                  - footerServices.push({ link: { text: 'Garden Repairs' } });
                  - footerServices.push({ link: { text: 'Soil Drilling' } });
                  - footerServices.push({ link: { text: 'Support 24/7' } });
                  - footerServices.push({ link: { text: 'Inspection House' } });
                  - footerServices.push({ link: { text: 'Remodeling Ceiling' } });
                  each service in footerServices
                    +footerServices(service)
          .col-xl-4.col-lg-12
            .footer-deal
              h2.footer-deal__title GET&nbsp;
                span 25%&nbsp;
                | OFF
              p.footer-deal__subtitle Electrical Services
              p.footer-deal__redeem Redeem Code:&nbsp;
                span HANDYHPY28
    section.copyright Copyright © 2018&nbsp;
      span Auhandy
      | . Get The Theme
    section#modal__overlay.modal__overlay
      .modal
        button#close__modal.close-btn
          i.fas.fa-times
        h2.contacts__title Get a quote
        .devider.contacts__devider
        form.contacts__form
          .form__group
            .input__group.contacts__name
              input.name__input(type="text", placeholder="Your Name", name="name")
              .form__error Error
            .input__group.contacts__email
              input.email__input(type="text", placeholder="Your Email", name="email")
              .form__error Error
          .form__group
            .input__group.contacts__subjects
              input(type="text", placeholder="Your Subjects", name="subjects")
            .input__group.contacts__phone
              input.phone__input(type="text", placeholder="Your Phone Number", name="phone")
              .form__error Error
          textarea.contacts__textarea(placeholder="Description Services Needed", name="description")
          button#form__btn.btn__primary.contacts__btn(type="submit") Submit
