html {
  font-size: $text-size--default;
}

body {
  position: relative;
  background-color: $bkg--white;
  font-family: "Lato-Regular", sans-serif;
  color: $text--default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
button,
input,
textarea {
  &:focus {
    outline: none;
  }
}

input {
  border: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:focus {
  color: $btn-primary;
  text-decoration: none;
}

.no-padding {
  padding: 0;
}
