// Breakpoints
$bpt--sm: 576px;
$bpt--md: 768px;
$bpt--lg: 992px;
$bpt--xl: 1200px;
$bpt--xxl: 1400px;

// Colors
// Text
$text--default: #666666;
$text--black: #000000;
$text--white: #ffffff;
$text--ondark: #cccccc;
$text--dark: #333333;
$text--light: #393939;
$text--footer: #999999;

// Backgrounds
$bkg--white: #ffffff;
$bkg--black: #000000;
$bkg--light: #cccccc;
$bkg--dark: #1f2021;
$bkg-headbar: #f2f2f2;
$bkg-copyright: #0d0d0d;
$bkg-footer: #1a1a1a;
$bkg-footer--img: #252525;
$bkg-footer--border: #404040;
$bkg-map: #e5e5e5;

// Accents
$btn-primary: #ffb619;

$btn-secondary: #1c3e9b;

$danger: #e52d2d;

// Typography
$text-size--default: 16px;
$text--12: 0.75em;
$text--14: 0.875em;
$text--15: 0.9375em;
$text--18: 1.125em;
$text--20: 1.25em;
$text--22: 1.375em;
$text--24: 1.5em;
$text--26: 1.625em;
$text--28: 1.75em;
$text--30: 1.875em;
$text--36: 2.25em;
$text--38: 2.375em;
$text--40: 2.5em;
$text--48: 3em;
$text--55: 3.4375em;

// Border Radius
$brad--5: 5px;
$brad--10: 10px;
$brad--15: 15px;

// Shadows
$nav-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
$modal-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

// Transitions
$btn-transition: all 0.1s cubic-bezier(0.99, 0.03, 0.68, 0.93);
$link-transition: all 0.1s ease-in;
$input-transition: all 0.2s ease-out;
$notification-transition: all 0.2s ease;
