/**
  * The designs were created to the following widths:
    - Mobile: 375px
    - Tablet: 768px
    - Desktop: 1440px
  * Typography
    - Font size: 16px
*/

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

// Import Slick Slider CSS files
@import "~slick-carousel/slick/slick", "~slick-carousel/slick/slick-theme";

@import "~bootstrap/scss/bootstrap";
@import "./_fonts.scss";
@import "./_variables.scss";
@import "./_keyframes.scss";
@import "./_base.scss";
@import "./headbar/_headbar.scss";
@import "./socials/_socials.scss";
@import "./navbar/_navbar.scss";
@import "./header/_header.scss";
@import "./searchform/_searchform.scss";
@import "./hero/_hero.scss";
@import "./btn/_btn.scss";
@import "./cta/_cta.scss";
@import "./devider/_devider.scss";
@import "./features/_features.scss";
@import "./services/_services.scss";
@import "./carousel/_carousel.scss";
@import "./projects/_projects.scss";
@import "./tabs/_tabs.scss";
@import "./contacts/_contacts.scss";
@import "./testimonials/_testimonials.scss";
@import "./copyright/_copyright.scss";
@import "./footer/_footer.scss";
@import "./modal/_modal.scss";
